.zzis-image-entry {
    background: #fff;

    margin: 0 15px 15px 0;
    padding: 10px;
    width:21%;
    cursor:move;
    float:left;
    box-shadow: 0 0 6px rgba(0,0,0,.7);

}
#zzis-gallery-thumbs{

    float:left;
    width:100%;

}
.zzis-image-entry img{
    width:100%;
    max-height:240px;
    display:block;
    margin-bottom:10px;
}
.zzis-meta-image{
    width:100%;
    height:155px;
    display:block;
    margin-bottom:10px;
}
.zzis-meta-image:hover {
    cursor: move;
}

.zzis-image-entry .button-primary{
    width:100%;
    margin-bottom:10px;
}
.zzis-label-text{
    width:100%;
    padding: 9px;

}

.zzis-image-entry .gallery_remove {

    display: block;
    float: right;
    height: 20px;
    margin-right: -21px;
    margin-top: -21px;
    outline: 0 none;
    text-indent: -9999px;
    width: 20px;
}
.zzis-add-new-image{
    text-align:center;
    padding: 150px 12px 10px 12px !important;
    border: 5px dashed rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 0 0 0px rgba(0,0,0,.7);
    width: 20%;
    min-height: 395px;
    position:relative;

}
.zzis-add-new-image:hover{
    border: 5px dashed #0074a2;
    background:#0074a2;
}
.zzis-add-new-image:hover p{
    color:#ffffff;
}
.zzis-add-new-image:hover .dashicons{    
    background: none repeat scroll 0 0 #ffffff;
    color:#0074a2;
}
.zzis-add-new-image .dashicons{
    background: none repeat scroll 0 0 rgba(153, 153, 153, 0.1);
    border-radius: 50%;
    color: #999;
    content: "?";
    display: inline-block;
    font: 400 74px/115px ;
    height: 100px;

    font-size:80px;
    padding: 0;
    line-height:110px;
    text-align: center;
    text-indent: -4px;
    text-shadow: none;
    top: 30%;
    vertical-align: middle;
    width: 100px;
    z-index: 4;

}

.pro_only {
    font-weight: bold;
    color: #f00;
}

.zzis-form-table textarea {
    width: 100%;
    min-height: 200px;
}

.zzis-form-table th {
    vertical-align: top;    
    text-align: left;
}

@media (max-width:766px) {
    .zzis-image-entry {
        background: #fff;

        margin: 0 15px 15px 0;
        padding: 10px;
        width:39%;
        cursor:move;
        float:left;
        box-shadow: 0 0 6px rgba(0,0,0,.7);

    }
    .zzis-add-new-image{    
        padding: 150px 5px 10px 5px !important;
    }
}

@media (max-width:460px) {
    
    .zzis-add-new-image{    
        padding: 150px 5px 10px 5px !important;
    }
    
    .zzis-image-entry {
        background: #fff;

        margin: 0 15px 15px 0;
        padding: 10px;
        width:90%;
        cursor:move;
        float:left;
        box-shadow: 0 0 6px rgba(0,0,0,.7);

    }
}
